<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create Account</title>
</head>
<body>

  <h1>Create Account</h1>
  <form name="myForm">
    
    <label for="idnumber">ID No:</label><br>
    <input type="text" name="idnumber" id="idnumber" maxlength="10"><br><br>

    <label for="firstname">First Name:</label><br>
    <input type="text" name="firstname" id="firstname"><br><br>

    <label for="lastname">Last Name:</label><br>
    <input type="text" name="lastname" id="lastname"><br><br>

    <label for="middleinitial">Middle Initial:</label><br>
    <input type="text" name="middleinitial" id="middleinitial"><br><br>

    <label for="extensionname">Extension Name:</label><br>
    <input type="text" name="extensionname" id="extensionname"><br><br>

    <label for="email">Email:</label><br>
    <input type="email" name="email" id="email"><br><br>

    <label>Sex:</label><br>
    <input type="radio" name="sex" id="male" value="male"><label for="male">Male</label>
    <input type="radio" name="sex" id="female" value="female"><label for="female">Female</label><br><br>

    <label for="purok">Purok:</label><br>
    <input type="text" name="purok" id="purok"><br><br>

    <label for="barangay">Barangay:</label><br>
    <input type="text" name="barangay" id="barangay"><br><br>

    <label for="city">City:</label><br>
    <input type="text" name="city" id="city"><br><br>

    <label for="province">Province:</label><br>
    <input type="text" name="province" id="province"><br><br>

    <label for="country">Country:</label><br>
    <input type="text" name="country" id="country"><br><br>

    <label for="zip">ZIP Code:</label><br>
    <input type="number" name="zip" id="zip"><br><br>

    <label for="username">Username:</label><br>
    <input type="text" name="username" id="username"><br><br>

    <label for="password">Password:</label><br>
    <input type="password" name="password" id="password"><br><br>

    <label for="reenterpassword">Re-enter Password:</label><br>
    <input type="password" name="reenterpassword" id="reenterpassword"><br><br>

    <input type="submit" value="Create Account"><br><br>

    <p>Already have an account? <a href="../views/index.html">Click here</a></p>

  </form>


  <script type="module" src="../script/signup.js"></script>
</body>
</html>
