# Assuming nga naa kay folder nga PHP
# Sulod sa imung php nga folder create ka ug file ang name is dapat ".htaccess"
# After ana e paste ni nga code
# Alisdi ra ang paquibpt
# Kung maka bantay ka sa Files naay filename nga .php
# Mao nay name sa file nga gusto nimu e hide 

<Files "login.php">
    Require all denied
    <If "%{HTTP_REFERER} =~ m#^http://localhost/paquibot/#">
        Require all granted
    </If>
</Files>

<Files "registration.php">
    Require all denied
    <If "%{HTTP_REFERER} =~ m#^http://localhost/paquibot/#">
        Require all granted
    </If>
</Files>

<Files "db.php">
    Require all denied
    <If "%{HTTP_REFERER} =~ m#^http://localhost/paquibot/#">
        Require all granted
    </If>
</Files>

#Redirect 403 error to 404.html

ErrorDocument 403 http://localhost/paquibot/html/404.html