<Files "login.css">
    Require all denied
    <If "%{HTTP_REFERER} =~ m#^http://localhost/paquibot/#">
        Require all granted
    </If>
</Files>

<Files "registration.css">
    Require all denied
    <If "%{HTTP_REFERER} =~ m#^http://localhost/paquibot/#">
        Require all granted
    </If>
</Files>

<Files "notFound.css">
    Require all denied
    <If "%{HTTP_REFERER} =~ m#^http://localhost/paquibot/#">
        Require all granted
    </If>
</Files>

#Redirect 403 error to 404.html

ErrorDocument 403 http://localhost/paquibot/html/404.html