* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: url('../assets/img3.svg');
    background-size: cover;
}

header {
    background: #111;
    color: #fff;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    color: white;
    margin-left: 1rem;
    text-decoration: none;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.login-container {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 400px;
}

.login-container h2 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #edf1ff;
}

.login-container button {
    padding: 0.75rem 2rem;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.button-login{
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container p {
    margin-top: 1rem;
}

.login-container a {
    color: blue;
    text-decoration: none;
}

footer {
    background: #111;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}


.error-message {
    background-color: #f8d7da;
    color:#58151c;
    font-size: 14px;
    padding: 1rem 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.d-none {
    display: none;
}